<!-- Black with white text
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <a class="navbar-brand js-scroll-trigger" href="http://localhost:4200/">GazStationFinder</a>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/gpsDistance">Trouver la station la plus proche</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/priceGps">Trouver le carburant le moins cher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/login" *ngIf="!LoggedIn" >Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/register" *ngIf="!LoggedIn">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/" (click)="disconnect()" *ngIf="LoggedIn">Disconnect</a>
      </li> 
    </ul>
</nav>
<br>
<br>
<br>
<router-outlet></router-outlet> -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <a class="navbar-brand js-scroll-trigger" routerLink="">GazStationFinder</a>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="login" *ngIf="!LoggedIn" >Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="register" *ngIf="!LoggedIn">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="" (click)="disconnect()" *ngIf="LoggedIn">Disconnect</a>
    </li> 
  </ul>
</nav>
<br>
<br>
<br>
<router-outlet></router-outlet>