<h1 class="text-center">Login form</h1>
<div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group input-group-lg">
            <input name="username" formControlName="username" class="form-control" placeholder="username">
        </div>
        <div class="form-group input-group-lg">
            <input type="password" name="password" formControlName="password" class="form-control" placeholder="password">
        </div>
        <div class="form-group">
            <button class="btn btn-danger btn-block btn-lg">Login</button>
        </div>
    </form>
</div>