
<h1 class="text-center text-danger display-1 ">Bienvenue sur GazStationFinder !</h1>
<br>
<h2 class="text-center display-4">Le moteur de recherche des points de vente de carburant en France</h2>
<br>
<br>

<div style="text-align:center;">
  <button id="btn" type="button" class="btn btn-danger btn-block" routerLinkActive="active" routerLink="gpsDistance">Trouver la station la plus proche</button>
  <br>
  <br>
  <button id="btn" type="button" class="btn btn-danger btn-block" routerLinkActive="active" routerLink="priceGps">Trouver le carburant le moins cher</button>
</div>
<br>
<br>
<br>
<br>
<footer class="footer bg-secondary text-white">
  <div class="container p-1">
        <h4 class="text-center">Proposition d'un moteur de recherche pouvant intéragir avec une API REST traitant le fichier gouvernemental des points de vente de carburant Français et proposant: </h4>
          
        <p><br>Pour les utilisateurs: <br>
          - La création d'utilisateurs <br>
          - L'authentification d'utilisateurs <br>
          - Recupération de la liste de tous les utilisateurs avec leurs attributs <br>
          - Récupération des attributs d'un utilisateur spécifique avec son ID <br>
          - Modification des attributs d'un utilisateur spécifique avec son ID <br>
          - Suppression d'un utilisateur spécifique avec son ID <br>
        </p>

        <p>Pour les points de vente de carburant: <br>
          - Récupération de l'adresse du point de vente de caburant le plus proche en fonction des coordonnées GPS données l'utilisateur <br>
          - Recherche du point de vente de carburant le moins cher dans un rayon de X kilomètres en fonction des coordonnées GPS, le type de carburant et du rayon de recherche donné l'utilisateur <br>
          - et récupération de l'adresse du point de vente et du prix du carburant recherché <br>
        </p>
  </div>

  <!--<div>
        <h2><u>Le menu de navigation permet d'accèder aux différentes fonctionnalités de ce service:</u></h2>
        <br>
        <h3>Login: Formulaire permettant la connexion à l'application.</h3>
        <h3>Register: Formulaire permettant de se créer un compte sur l'application.</h3>
        <h3>Trouver la station la plus proche:  Page de récupération des informations du point de vente de caburant le plus proche en fonction des coordonnées GPS données l'utilisateur.</h3>
        <h3>Trouver la station proposant le carburant le moins cher: Page Retournant les informations de la station vendant le carburant sélectionné au meilleur prix et dans le périmètre indiqué.</h3>
  </div> -->

  <div class="bg-dark text-center p-1">
    © 2021 OpenSource:
    <a class="text-white" href="https://gitlab.com/jeremybernaudon13/gazstationfinder">repository</a>
  </div>

</footer>