<router-outlet>
<h1 class="text-center">Register form</h1>
<div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group input-group-lg">
            <input name="username" formControlName="username" class="form-control" placeholder="username">
        </div>
        <div class="form-group input-group-lg">
            <input name="firstname" formControlName="firstName" class="form-control" placeholder="firstname">
        </div>
        <div class="form-group input-group-lg">
            <input name="lastname" formControlName="lastName" class="form-control" placeholder="lastname">
        </div>
        <div class="form-group input-group-lg">
            <input type="password" name="password" formControlName="password" class="form-control" placeholder="password">
        </div>
        <div class="form-group">
            <button class="btn btn-danger btn-block btn-lg">Register</button>
        </div>
    </form>
</div>
</router-outlet>