<h1 class="text-center">Trouver la station proposant le carburant demandé le moins cher</h1>
<div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group input-group-lg">
            <input name="latitude" formControlName="latitude" class="form-control" placeholder="latitude" maxlength="8">
        </div>
        <div class="form-group input-group-lg">
            <input name="longitude" formControlName="longitude" class="form-control" placeholder="longitude" maxlength="7">
        </div>
        <div class="form-group input-group-lg">
            <input name="range" formControlName="range" class="form-control" placeholder="range">
        </div>
        
         <div class="form-group input-group-lg">
            <input name="gazType" formControlName="gazType" class="form-control" placeholder="gazType">
        </div> 
        <div class="form-group">
            <button class="btn btn-danger btn-block btn-lg">Valider</button>
        </div>
    </form>
    <div>
        <h3>{{getStationBestPrice}}</h3>
        <accordion>
            <accordion-group heading="Informations de la station">
                <p class="infosRecipe">{{getAdresse}}</p>
                <p class="infosRecipe"> Latitude : {{getLatitude}} <br>Longitude {{getLongitude}}</p> 
                <p class="infosRecipe" >{{getGazType}}</p>
                <p class="infosRecipe"  >{{getPrix}}</p>
               
              
            </accordion-group>
          </accordion>
   
   

</div>
<button id="fly">Aller sur ma position</button>
<br />
    <div class="map, mamap" id="map"></div>


</div>