/* You can add global styles to this file, and also import other style files */
.markerYou {
    background-size: contain;
    width: 50px;
    height: 50px;
    background-image: url("/assets/youmarker.png");
    background-repeat: no-repeat;
    position: absolute;
  }

  .markerStation {
    background-size: contain;
    width: 25px;
    height: 25px;
    background-image: url("/assets/station.png");
    background-repeat: no-repeat;
    position: absolute;
  }

  .mamap{
    height: 650px;
  }

  #fly {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
    }